<!DOCTYPE html>
<html>

<head>
  <title>DomainTools Settings</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
  <h1 id="title">DomainTools Settings</h1>
  <form id="settings-form" method="POST" enctype="multipart/form-data" action="settings">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="mb-3">
          <label class="form-label">API User</label>
          <input id="api-user" type="text" class="form-control" name="api_user" placeholder="" value="{{ form['api_user'] }}"/>
      </div>
      <div class="mb-3">
          <label class="form-label">API Key</label>
          <input id="api-key" type="password" class="form-control" name="api_key" placeholder="" value="{{ form['api_key'] }}"/>
      </div>
      <div class="mb-3">
          <input type="checkbox" class="form-check-input" id="enable-proxy" name="enable_proxy" {{'checked="checked"' if form['enable_proxy'] else ''}}>
          <label for="enable-proxy" class="form-check-label">Enable Proxy</label><br>
      </div>
      <div class="mb-3">
          <label class="form-label">Proxy Server</label>
          <input id="proxy-server" type="url" class="form-control" name="proxy_server" placeholder="http://123.123.123.123" value="{{ form['proxy_server'] }}"/>
      </div>
      <div class="mb-3">
          <label class="form-label">Proxy Port</label>
          <input id="proxy-port" type="number" class="form-control" name="proxy_port" placeholder="1234" value="{{ form['proxy_port'] }}"/>
      </div>
      <div class="mb-3">
          <input type="checkbox" id="enable-custom-certificate" class="form-check-input" name="enable_custom_certificate" {{'checked="checked"' if form['enable_custom_certificate'] else ''}}>
          <label class="form-check-label" for="enable-custom-certificate">Enable Custom Certificate</label><br>
      </div>
       <div class="mb-3">
          <label class="form-label">Custom Certificate</label>
          <input id="custom-certificate-path" type="text" class="form-control" name="custom_certificate_path" placeholder="" value="{{ form['custom_certificate_path'] }}"/>
      </div>

      <input id="save" type="submit" value="Save" class="btn btn-primary"/>
      <input id="test-connection" type="submit" value="Test Connection" name="test_connection" class="btn btn-primary">
  </form>

  {% if message %}
      <div class="pt-2">
        <div class="alert alert-{{message['type']}}" role="alert">{{ message['text'] }}</div>
      </div>
  {% endif %}
</div>
</body>

</html>